{% extends "base.html" %}
{% load static %}
{% block titles %}Dishes{% endblock %}
{% block extra_js %}
    {% include "angular/DishApp.html" %}
{% endblock %}
{% block body_attrs %}{{ block.super }} ng-app="DishApp"{% endblock %}
{% block base_content %}
    {% verbatim %}
    <section id="dishes" class="section-padding" ng-controller="DishListController">
        <div class="container" ng-init="DishList($event)">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head text-center">
                        <h2 class="head-title">Latest From Our Blog</h2>
                        </hr>
                        <p class="head-par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                    </div>
                </div>


                <div class="col-md-4" ng-repeat="dish in dish_list">
                    <div class="main-box list-box">
                        <div class="img-box" style="display:block; background-image:url('{{ dish.dish_image }}')">
                            <div class="veg" ng-if="dish.dish_type == 'v'"><div class="circle"></div></div>
                            <div class="non-veg" ng-if="dish.dish_type == 'n'"><div class="circle"></div></div>
                        </div>
                        <div class="texton-image">
                            <h4>{{ dish.name }}</h4>
                            <p>{{ dish.restaurant.name }}, {{ dish.restaurant.address }}</p>
                        </div>
                        <div class="rating-box">{{ dish.foodlands_rating }}</div>
                        <div class="main-box-content">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>Time</span> - {{ dish.open_time }} to {{ dish.close_time }}
                            <ul>
                                <li>
                                    <span><i class="fa fa-check-square-o main-box-stat" aria-hidden="true"></i></span>
                                    {{ dish.tasted_count }} Tasted
                                </li>
                                <li>
                                    <span><i class="fa fa-heart main-box-stat" aria-hidden="true"></i></span>
                                    {{ dish.favourite_count }} Favourites
                                </li>
                                <li>
                                    <span><i class="fa fa-thumbs-up main-box-stat" aria-hidden="true"></i></span>
                                    {{ dish.recommend_count }} Recommends
                                </li>
                            </ul>
                        </div>
                   </div>
                </div>


            </div>
        </div>
    </section>
    {% endverbatim %}
{% endblock base_content %}
