
    .main-box {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(0,20,40,.1);
    border-radius: 6px;
    }

    .img-box {
        border-radius: 6px 6px 0 0;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    height: 155px;
    position: relative;
    left: 0;
    right: -1px;
    }

    .texton-image {
    position: absolute;
    top: 100px;
    left: 10px;
    right: 0;
    z-index: 2;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    }
    .texton-image > p {
        color: #fff;
    }
.list-box{ height: 250px; border: 1px solid #CCD1D9;}
.rating-box{ width: 50px; height: 40px; color: #fff; text-align: center;
    background-color: #0000ff; position: absolute; top:105px; right: 0;
    border-radius: 5px; padding-top: 8px; right: 10px;}