{% extends "base.html" %}
{% load static %}
{% block titles %}Foodlands{% endblock %}
{% block extra_js %}
    {% include "angular/FoodLandsApp.html" %}
{% endblock %}
{% block body_attrs %}{{ block.super }} ng-app="FoodLandsApp"{% endblock %}
{% block base_content %}
    {% verbatim %}
    <section id="foolands" class="section-padding" ng-controller="FoodLandsController">
        <div class="container" ng-init="FoodLands($event)">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head text-center">
                        <h2 class="head-title">Latest From Our Blog</h2>
                        </hr>
                        <p class="head-par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                    </div>
                </div>


                <div class="col-md-4" ng-repeat="food_land in food_lands">
                    <div class="main-box list-box">
                        <div class="img-box" style="display:block; background-image:url('{{ food_land.main_image }}')">
                            <div class="veg" ng-if="food_land.restaurant_type == 'v'"><div class="circle"></div></div>
                            <div class="non-veg" ng-if="food_land.restaurant_type == 'n'"><div class="circle"></div></div>
                        </div>
                        <div class="texton-image">
                            <h4>{{ food_land.name }}</h4>
                            <p>{{ food_land.address }}</p>
                        </div>
                        <div class="rating-box">{{ food_land.average_rating }}</div>
                        <div class="main-box-content">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>Time</span> - {{ food_land.open_time }} to {{ food_land.close_time }}
                            <ul>
                                <li>
                                    <span><i class="fa fa-arrow-right main-box-stat" aria-hidden="true"></i></span>
                                    {{ food_land.follow_count }} Followers
                                </li>
                                <li>
                                    <span><i class="fa fa-heart main-box-stat" aria-hidden="true"></i></span>
                                    {{ food_land.favourite_count }} Favourites
                                </li>
                                <li>
                                    <span><i class="fa fa-thumbs-up main-box-stat" aria-hidden="true"></i></span>
                                    {{ food_land.recommend_count }} Recommends
                                </li>
                            </ul>
                        </div>
                   </div>
                </div>


            </div>
        </div>
    </section>
    {% endverbatim %}
{% endblock base_content %}
